.loading {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #dde5eb;
  opacity: 0.6 !important;
  z-index: 10;
}
