.header {
  background: #2579be;
  color: #fff;
}

.header-wrapper {
  width: 90%;
  margin: auto;
  height: auto;
}

.top-header {
  height: 100px;
}

.logo-wrapper {
  height: 64px;
  align-self: center;
}

.img-logo {
  width: 64px;
  height: 64px;
}

.title-wrapper {
  flex-direction: column;
  margin-left: 10px;
}

.title {
  margin-bottom: 0;
  color: #fff;
}

.login {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.login:hover {
  color: yellow;
}
